@font-face {
  font-family: "Roboto";
  src:
    url("./fonts/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./fonts/Roboto-Italic.woff2") format("woff2"),
    url("./fonts/Roboto-Italic.woff") format("woff");
  font-style: italic;
}

* {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 270px;
  grid-auto-flow: column;
  font-family: "Roboto";
  line-height: 1.3;
}

.sidebar {
  background-color: #1992d4;
  padding: 16px;
  grid-row: 1 / 3;
  display: grid;
  gap: 50px;
  align-content: start;
}

.sidebar__nav-section {
  display: grid;
  gap: 8px;
}

.sidebar__dash-title,
.sidebar__nav-link {
  display: grid;
  grid-template-columns: 60px;
  grid-auto-flow: column;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.sidebar__dash-title {
  font-size: 1.5em;
}

.sidebar__nav-link {
  font-size: 1.2em;
}

.sidebar__dash-title img {
  width: 45px;
  filter: invert(100%);
}

.sidebar__nav-link img {
  width: 22px;
  margin-left: 11px;
  filter: invert(100%);
}

.header {
  padding: 16px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
}

.header__searchbar {
  display: grid;
  grid-template-columns: 32px;
  grid-auto-flow: column;
  gap: 8px;
}

.header__searchbar button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.header__searchbar input {
  background-color: lightgray;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-style: inherit;
}

.header__profile {
  justify-self: end;
  text-wrap: nowrap;
  margin-right: 16px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 24px;
  font-weight: bolder;
}

.header__bell-icon {
  width: 25px;
}

.header__profile .profile-picture {
  width: 45px;
}

.header__greeting {
  display: grid;
  grid-template-columns: 70px;
  grid-auto-flow: column;
  align-items: center;
}

.header__greeting .profile-picture {
  width: 55px;
}

.header__greeting-text {
  font-size: 0.8em;
  font-weight: bolder;
  line-height: 1.5;
}

.header__greeting-name {
  font-size: 1.4em;
  text-wrap: nowrap;
}

.header__buttons {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
}

.header__buttons button {
  background-color: #1992d4;
  color: white;
  width: 90px;
  height: 38px;
  border: none;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: bolder;
}

.main-content {
  background-color: lightgray;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.main-content__projects {
  grid-row: 1 / 3;
}
